<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title></title>
                                                                                                                                                                                                                                                                                                                                                                                              
<style type="text/css">
/* Resets */
.ReadMsgBody{width:100%!important;}
.ExternalClass{width:100% !important;}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
.ExternalClass td, .ExternalClass div{line-height:100%;}
body {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;}
html {width: 100%; }
table {border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;}
#outlook a {padding:0;}
img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
a img {border:none;}
.img-fix {display: block; border: none;}
p {padding: 0; margin: 1em 0;}

/* Slide Styles */
a {color: #297FB8; text-decoration: none; font-weight: bold;}
.sharing {padding-top: 5px;}
.footer-column a {color: #ffffff; text-decoration: none; font-weight: bold;}

@media only screen and (max-width: 640px)  {
body[yahoo] .device-width {width:440px!important;}
body[yahoo] .content-wrapper {padding-left:0!important; padding-right:0!important;}	
body[yahoo] .center {text-align: center!important;}
body[yahoo]	.sharing {padding-top: 20px!important;}
body{yahoo} .mobile-hide {display: none;}
body[yahoo] .mobile-column {padding-right: 30px; padding-left: 30px;}
body[yahoo] .mobile-column-image {width: 380px!important;}
body[yahoo] .mobile-bottom {padding-bottom: 20px;}
body[yahoo]	.footer-column {width: 175px!important;} 
body[yahoo] .footerLinks { width:32%; margin-bottom:40px}
}

@media only screen and (max-width: 479px) {
body[yahoo] .device-width {width:300px!important}
body[yahoo] .content-wrapper {padding-left: 0!important; padding-right: 0!important;}		
body[yahoo] .center {text-align: center!important;}
body[yahoo]	.sharing {padding-top: 20px!important;}
body{yahoo} .mobile-hide {display: none;}
body[yahoo] .mobile-column {padding-right: 30px; padding-left: 30px;}
body[yahoo] .mobile-column-image {width: 300px!important;}
body[yahoo] .mobile-bottom {padding-bottom: 20px;}
body[yahoo]	.footer-column {width: 240px!important;} 
body[yahoo] .footerLinks { width:32%; margin-bottom:40px}
}
</style>

</head>
<body yahoo="fix">
<!-- Start Body Wrapper -->
<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
	<tbody><tr>
		<td width="100%" bgcolor="#ffffff" valign="top">
			
			<!-- Start View in Browser -->
			<table class="device-width" width="630" align="center" cellpadding="0" cellspacing="0" border="0">
				<tbody><tr>
					
					<td class="mobile-hide" style="padding-top: 10px; padding-bottom: 10px;"></td>
				</tr>
			</tbody></table>
			<!-- End View in Browser -->
			<!-- Start Logo & Sharing -->
			<table class="device-width" width="630" align="center" cellpadding="0" cellspacing="0" border="0">
				<tbody><tr>
					<td class="content-wrapper" width="100%" style="padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 30px; " bgcolor="#ffffff">
						
						<!-- Start left Logo -->
						<table class="device-width" align="center" cellpadding="0" cellspacing="0" border="0">
							<tbody><tr>
								<td class="center"><a th:href="${logoLink}"><img th:src="${logoUrl}" border="0"></a></td>
							</tr>
						</tbody></table>
						<!-- End Logo -->
					</td>
				</tr>
			</tbody></table>
			
			<!-- End Logo & Sharing -->		
			<!-- ========== Start Content Blocks ========== -->	
            <!-- Start Text Block -->
			<table class="device-width" width="630" align="center" cellpadding="0" cellspacing="0" border="0">
				<tbody><tr>
					<td bgcolor="#ffffff" style="padding-left: 30px; padding-right: 30px;">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody><tr>
								<td style="padding-bottom: 30px;">
									<table cellpadding="0" cellspacing="0" border="0">
										<tbody><tr>
											<td style="padding-top:20px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; color: #111111; line-height: 24px;" th:utext="${notificationText}">notificació</td>
										</tr><tr>
											<td style="padding-top:20px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; color: #111111; line-height: 24px;" th:utext="${signature}">Jamgo</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			<!-- End Text Color Block -->
			<!-- ========== End Content Blocks ========== -->
			
<!-- End Body Wrapper -->
</body></html>