html {
  --lumo-primary-color: #ef2929;
  font-size: var(--lumo-font-size, var(--lumo-font-size-s));
  --wysiwyg-toolbar-background: var(--lumo-primary-color);
  --wysiwyg-font: var(--lume-font-family);
}

wysiwyg-e {
  background-color: var(--lumo-contrast-10pct);
}

.login-header-title {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 8em;
}

.to-many-row-action-button {
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;  
}

.to-many-action-button {
  padding-right: 0px;
  padding-left: 0px;  
}

.to-many-label {
  align-self: center;
}
a:not(:any-link) {
  color: var(--lumo-primary-text-color) !important;
}
.margin-top-auto {margin-top: auto;}