html {
  --app-layout-drawer-background-color: rgba(var(--lumo-primary-color), 0.5);
  --app-layout-bar-background-color: rgba(var(--lumo-primary-color), 0.5);
}

[part="app-bar"] {
  background: rgba(var(--lumo-primary-color), 0.5);
}

[part="drawer"] {
  background: rgba(var(--lumo-primary-color), 0.5);
  --app-layout-menu-button-height: var(--lumo-size-s);
}

.app-menu-item {
  font-size: var(--lumo-font-size, var(--lumo-font-size-s));
}

.margin-top-auto {
  margin-top: auto;
}