.binary-resource-upload {
  width: max-content;
  padding: 0px;
  width: 202px;
  height: 202px;
}

.binary-resource-image {
  object-fit: contain;
}

.binary-resource-clear-button {
  top: -216px;
  left: 180px;
  border-style: none;
  background-color: inherit;
  box-shadow: none;
  color: var(--lumo-secondary-text-color);  
}

.binary-resource-image-overlay {
  background: url("images/image-upload-mask.png");
  position: absolute;
  width: 200px;
  height: 200px;
/*  top: var(--lumo-space-m); */
  top: 0px;
  opacity: 0;
  background-size: 100% 100%;
}

.binary-resource-image-overlay:hover {
  opacity: 0.4;
}