.crud-search-layout {
  overflow: unset;
}

.crud-search-layout > div {
  box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct);
  padding-bottom: 1.5em;
}

.crud-search-content {
  overflow: auto;
}
