.crud-details-layout {
  overflow: unset;
}

.crud-details-layout .j-maximize-restore {
  position: absolute;
  right: 1em;
}

.crud-details-layout > div {
  box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct);
  padding-bottom: 1.5em;
}

.crud-details-layout-readonly > div {
  padding-bottom: 1em;
}

.crud-details-content {
  overflow: auto;
}
