.vaadin-text-field-container [part="input-field"] {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.model-combo-box .crud-details-layout {
  border: 0.1em solid var(--lumo-contrast-10pct);
}

.model-combo-box-button {
  border-radius: unset;
  background-color: var(--lumo-contrast-10pct);
}

.model-combo-box-last-button {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background-color: var(--lumo-contrast-10pct);
}
