 /* Snapshot comparer view styles */
 
 .attribute-new {
   background-color: #ecfdf0;
 }
 .attribute-deleted {
   background-color: #fbe9eb;
 }
 .attribute-modified {
   background-color: #ffffed;
 }
 .attribute-equal {
   background-color: #ffffff;
 }